html {
  scroll-behavior: smooth;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.App__topNav {
    height: 3em; 
    padding: 0; 
    position: sticky;
    top: 0; 
    z-index: 100;
    background-color: rgba(189, 218, 236, 0.98);
}

.navbar__toggleNavbarBtn {
    position: relative;
    top: 2px;
  
    height: 100%;
    width: 4em;
  
    background: none;
    border: none;
    outline: transparent;
  
    cursor: pointer;
  }
  
  .navbar__toggleNavbarBtn__line {
    position: absolute;
  
    height: 3px;
    width: 3em;
    border-radius: 10px;
  
    display: block;
  
    background-color: #2196F3;
  }
  .navbar__toggleNavbarBtn .navbar__toggleNavbarBtn__line:nth-child(2) {
    top: 20px;
    z-index: 2;
  
    transition: top 0.3s ease 0.1s, transform 0.3s ease-out 0.5s;
  }
  .navbar__toggleNavbarBtn--open .navbar__toggleNavbarBtn__line:nth-child(1) {
    top: 20px;
    transform: rotate(45deg);
    transition: top 0.3s ease 0.1s, transform 0.3s ease-out 0.5s;
  }
  .navbar__toggleNavbarBtn--open .navbar__toggleNavbarBtn__line:nth-child(2) {
    opacity: 0;
    animation: fadeOut 0.3s 0.3s forwards;
  }
  .navbar__toggleNavbarBtn--open .navbar__toggleNavbarBtn__line:nth-child(3) {
    top: 20px;
    transform: rotate(-45deg);
    transition: top 0.3s ease 0.1s, transform 0.3s ease-out 0.5s;
  }
  
  .navbar__toggleNavbarBtn--closed .navbar__toggleNavbarBtn__line:nth-child(1) {
    top: 5px;
    transition: top 0.3s ease 0.3s, transform 0.3s ease-out 0.1s;
  }
  .navbar__toggleNavbarBtn--closed .navbar__toggleNavbarBtn__line:nth-child(2) {
    opacity: 0;
    animation: fadeIn 0.5s 0.3s forwards;
  }
  .navbar__toggleNavbarBtn--closed .navbar__toggleNavbarBtn__line:nth-child(3) {
    top: 35px;
    transition: top 0.3s ease 0.3s, transform 0.3s ease-out 0.1s;
  }

  @keyframes fadeOut {
    from {
      opacity: 1;
    }
    to {
      opacity: 0;
    }
  }
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

@media(min-width: 1400px) {
    .navbar__toggleNavbarBtn {
        display: none;
    }
}

.footer {
  box-sizing: border-box;
  height: 10vh; 
  width: 100%;
  background-color: rgba(189, 218, 236, 0.98);
  margin-top: 5em;
  overflow: hidden;
}
.footer a:nth-child(1) {
  display: block;
  box-sizing: border-box;

  width: fit-content;

  color: #2196F3;

  margin-left: auto;
  margin-right: auto;
  margin-top: 2em;
  margin-bottom: .5em;
}