.paginationControlsCustomImages {
    min-height: calc(16px + 1em);

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.paginationControlsCustomImages__pageNoBtn {
    box-sizing: border-box;
    display: block;

    height: 16px;
    width: 16px;

    margin: .5em;
    padding: 0;

    border-radius: 50%;
    border: transparent;
    
    background-color: rgba(65, 63, 63, 0.8);
    outline: transparent;

    transition: .3s ease-in-out;
    cursor: pointer;
}
.paginationControlsCustomImages__pageNoBtn:active {
    background-color: rgba(117, 111, 111, 0.8);
}
.paginationControlsCustomImages__pageNoBtn--active {
    background-color: rgba(117, 111, 111, 0.8);
    cursor: default;
}


.paginationControlsCustomImages__arrowBtnLeft {
    position: absolute;
    bottom: 50%;
    left: 0;

    display: block;
    background-color: transparent;
    border: transparent;

}

.paginationControlsCustomImages__arrowBtnRight {
    position: absolute;
    bottom: 50.5%;
    right: 0;

    display: block;
    background-color: transparent;
    border: transparent;
}