.showcase__codeDiv {
    position: relative;
}


.showcase {
    padding: .3em;

    min-height: 80vh;
}

.showcase__controlsDiv {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}
.showcase__controlsDiv div {
    margin-top: 1em;
    margin-bottom: 1em;
}


@media (min-width: 640px) {
    .showcase {
        margin-left: 20vw;
        margin-right: 20vw;
    }
}