.searchInput {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1em;
    margin-bottom: 1em;

    width: 15em;
    height: 1.5em;

    padding: .3em;

    border: 1px solid #2196F3;
    border-radius: 3px;
}


@keyframes nextPageCustom {
    0% {
      opacity: 1;
    }

    49% {
      opacity: 0;
      transform: translate(-10em, 0) scale(.5);
    }

    50% {
      opacity: 0;
      transform: translate(10em, 0) scale(.5);;
    }
  
    100% {
      opacity: 1;
      transform: translate(0, 0) scale(1);;
    }
}

@keyframes prevPageCustom {
    0% {
      opacity: 1;
      transform: scale(1);
    }

    49% {
      opacity: 0;
      transform: translate(10em, 0) scale(.5);
    }

    50% {
      opacity: 0;
      transform: translate(-10em, 0) scale(.5);;
    }
  
    100% {
      opacity: 1;
      transform: translate(0, 0) scale(1);;
    }
}
