.usercards {

}

@media (min-width: 640px) {
    .usercards {
        width: 80%;
        margin-left: auto;
        margin-right: auto;
    }
}


@keyframes nextPageCustom {
    0% {
      opacity: 1;
      transform: scale(1);
    }

    49% {
      opacity: 0;
      transform: translate(-10em, 0) scale(.5);
    }

    50% {
      opacity: 0;
      transform: translate(10em, 0) scale(.5);;
    }
  
    100% {
      opacity: 1;
      transform: translate(0, 0) scale(1);;
    }
}

@keyframes prevPageCustom {
    0% {
      opacity: 1;
      transform: scale(1);
    }

    49% {
      opacity: 0;
      transform: translate(10em, 0) scale(.5);
    }

    50% {
      opacity: 0;
      transform: translate(-10em, 0) scale(.5);;
    }
  
    100% {
      opacity: 1;
      transform: translate(0, 0) scale(1);;
    }
}